
.input-container {
  background-color: #F3F5F9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 20px;
  input {
    border: none;
    background: #F3F5F9;
    width: 100%;
    padding-left: 10px;
    &:focus {
      outline: none;
    }
  }
  ::placeholder {
    color: #d3d3d3;
  }
}