
.button {
    display: inline-block;
    background-color: #09A391;
    color: #fff;
    padding: 5px 15px;
    text-align: center;
    border-radius: 25px;
    margin: 5px 10px;
    cursor: pointer;

    &:hover {
        background-color: #ADE0DA;
    }
}

.disabled {
    background-color: lightgray;

    &:hover {
        background-color: rgb(230, 224, 224);
    }
}