
input[type="checkbox"] {
    display: none;
}

.checkbox {
    display: inline-block;
    padding: 1.5px;
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
    margin-right: 5px;
}

.checkbox.checked {
    background-color: #09A391;
}

input[type="checkbox"] + span {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 22px;
    vertical-align: middle;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    clip-path: polygon(21% 40%, 21% 40%, 8% 54%, 25% 68%, 36% 77%, 47% 65%, 48% 64%, 64% 47%, 75% 35%, 93% 13%, 81% 4%, 36% 54%);
    background-color: #fff;
}

input[type="checkbox"]:checked + span {
    transform-origin: bottom left;
}