@import "~bootstrap/scss/bootstrap";
@import "./styles/mixin.scss";

.custom-row {
  position: relative;
  .custom-col:nth-child(1) {
    @include response(phone) {
      position: absolute;
    }
    &.overlay {
      z-index: 3;
    }
  }
  .custom-col:nth-child(2) {
    @include response(phone) {
      position: absolute;
    }
  }
}

.contacts {
  margin: 0;
  padding: 0 10px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    h4 {
      font-size: 1.5rem;
    }
    .custom-button {
      font-size: 15px;
      padding: 5px 11px;
    }
    &--logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      span {
        display: none;
      }
      @include response(phone) {
        span {
          display: inline-block;
          margin-right: 10px;
          &:hover {
            cursor: pointer;
            background-color: rgb(241, 240, 240);
          }
        }
        h4 {
          margin-bottom: 0;
        }
      }
    }
  }
  &__sub--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .select-all {
      display: flex;
      align-items: center;
      justify-content: center;
      h4 {
        font-size: 16px;
        margin: 0;
      }
    }
  }
}
